

.errorBlock {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.962);
    padding: 50px 0;
    z-index: 5;
    color: red;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow( 0 0 20px  red);
    /* box-shadow:inset 10px 10px 10px 10px red */
    /* height: 100px; */
}
.errorMessage {
    font-size: 3vw;
}