.authFormStyle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authRegHeader {
    padding: 0;
    margin: 0;
    text-align: center;
    filter: drop-shadow(0 0 5px gold);
}

.authfild {
    text-align: left;
    display: block;
    font-size: 15px;
    padding: 0;
    margin: 0;
    width: 100%;
}


.authBtnBlock {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}