

.helloBolock{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.964);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.helloText {
    font-size: 15px;

}