.form-registation {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 60vw;
    /* height: calc(60vw / 2); */
    background: white;
    z-index: 0;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 2% 5%;
}

.reglable {
    width: 100%;
    display: block;
    padding-top: 0px;
    margin: 0;
    font-size: 15px;
}
.regfild {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 15px;

}