.projectName {
    font-size: 2vw;
    align-self: center;
    padding: 0;
    margin: 0;
}
.clock {
    display: flex;
    /* width: 200px; */
    font-size: 2vw;
    align-self: center;
    padding: 10px;
    /* color: red; */
}


.logOutBtn {
    color:white;
    background: rgb(52, 114, 195);
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px white);
    height: 40px;
    width: 40px;
    font-size: 10px;
    transition: .3s;
}
.logOutBtn:hover {
    filter: drop-shadow(0 0 10px white);
    transition: .3s;
}

.headerUserData {
    filter: drop-shadow(0 0 0px white);
    transition: .3s;
}
.headerUserData:hover {
    filter: drop-shadow(0 0 20px white);
    transition: .3s;
}
