.authPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snowplace {
    flex:1;
}
.snowman {
    display: flex;
    background: url('/src/components/Attention/img/snowman.png');
    background-size: cover;
    width: 300px;
    height: 400px;
    position: fixed;
    bottom: 20px;
    /* z-index: -2; */
}
.attention {
    text-align: center;
    /* background: rgba(245, 245, 245, 0.35); */
    padding: 15px 25px;
    border-radius: 10px;
    color: black;
    position: absolute;
    top:1%;
    left: 15%;
    /* transform: translate(-50%, -50%); */
}
.buttons-block {
    position: absolute;
    top:29%;
    left: 19%;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.auth-btn {
    padding: 4px 4px;
    background: whitesmoke;
    color:black;
    border-radius: 20px;
    transition: .3s;
}
.auth-btn:hover {
    padding: 4px 4px;
    background: rgb(20, 106, 180);
    color:white;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px white);
    transition: .3s;
}