.post-comment {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
}
.post-header {
    min-width: 20%;
}
.comment-text {
    display: flex;
    background: whitesmoke;
    padding: 5px 0;
    align-items: center;
}