

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(ellipse at bottom, #090a0f 0%, #1b2735 100%);
  /* overflow: hidden; */
  min-height: 100vh;
  /* max-width: 100vw; */
  /* filter: drop-shadow(0 0 10px white); */
}
