/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* #root {
  background: url('/public/img/Krasivye_kartinki_na_rabochiy_stol_zima_32_20063909.jpg') no-repeat center;
  background-size: contain;
  position: absolute;
} */
